@import "tailwindcss";

@theme {
	--color-tiiqu-primary: #18e1c9;
	--color-tiiqu-secondary: #034459;

	--color-tiiqu-primary-light: #18e1c966;
	--color-tiiqu-secondary-light: #03445966;

	--color-tiiqu-gray: #e6ecee;

	--color-tiiqu-white: #ffffff;

	--color-tiiqu-black: #2e2c34;
}

.ripple-container {
	position: relative;
	overflow: hidden;
}

.ripple-container {
	position: relative;
	overflow: hidden;
}

.ripple {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	animation: ripple-animation 600ms linear;
	background-color: rgba(255, 255, 255, 0.5);
	pointer-events: none;
}

@keyframes ripple-animation {
	to {
		transform: scale(4);
		opacity: 0;
	}
}
